@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600;700;900&display=swap");
body {
    margin: 0;
    padding: 0;
}
/* Login Singup*/

.BodyLogin,
.BodySignup,
.BodySignup2 {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.half {
    flex: 1;
    overflow: auto;
}

.login-imageHolder {
    background: url("/images/login.png") center/cover no-repeat;
    position: relative;
}

.divider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
    background-color: #000000;
    transform: translateX(-50%);
}

/*for the forms part*/
.login-credentialsHolder {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    padding: 16px;
    width: 60%;
    margin: auto;
}

.containerlogin {
    width: 80%;
}

.title-bar {
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 40px;
}

.title-bar h2 {
    margin: 0;
    font-size: 32px;
    font-family: Inter;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

/* Full-width inputs */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 8px 10px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid #000;
    background: rgba(225, 225, 225, 0);
}

.container label {
    color: #212529;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.container input::placeholder {
    color: #999;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.buttonHolder {
    text-align: center;
}

.buttonHolderNextPage {
    text-align: right;
}

button {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 25%;
    border-radius: 18px;
    margin-top: 30px;
}

.btnlogin {
    background-color: #000000;
    color: white;
    padding: 12px 18px;
    border: none;
    cursor: pointer;
    width: 30%;
    border-radius: 18px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.68px;
}

.btnNextPage {
    margin-top: 15px;
    background-color: #000000;
    color: white;
    padding: 14px 18px;
    border: none;
    cursor: pointer;
    width: 30%;
    border-radius: 18px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.68px;
}

.btnCreateAcc {
    margin-top: 30px;
    background-color: #000000;
    color: white;
    padding: 12px 18px;
    border: none;
    cursor: pointer;
    width: 70%;
    border-radius: 14px;

    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.68px;
}

button:hover {
    opacity: 0.8;
}

.toSignUp {
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 28px;
}

.forgotPassword {
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 24px;
}

.forgotPassword a {
    color: black;
    text-decoration: underline;
}

.line {
    margin-top: 30px;
    border-top: 1px solid #000;
}

/* Navbar */

/* Float the first three links to the left */
li:nth-child(-n + 3) {
    float: left;
}
.nav-title {
    padding-left: 30%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: #111;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Inter;
}

li a:hover {
    background-color: #111;
    color: antiquewhite;
}

.active {
    /* background-color: #4caf50; */
}

/* Footer */
footer {
    text-align: center;
    padding: 3px;
    background-color: #232323;
    color: white;
    height: 200px;
}
.footer-p {
    display: inline-block;
    padding-top: 155px;
}
.footer-logo {
}

/* Home Page */
.home-welcome img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/*Cards*/
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    width: calc(33.33% - 20px); /* 33.33% width for each card with a 20px gap */
    height: 60%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 5%;
    transition: transform 0.2s;
}
.card:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.card img {
    width: 100%;

    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-content {
    padding: none;
    text-align: center;
}

.card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card p {
    color: #555;
    line-height: 1.4;
}
