@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

@import "./navbar/navbar";
@import "./homepage/homepage";
@import "./footer/footer";

body {
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}
