footer {
    color: black;
    .footer-links {
        justify-content: space-between;
    }
    .footer-nav {
        display: flex;
        justify-content: space-between;
        .footer-links {
            float: right;

            a {
                text-decoration: none;
            }
        }
    }
}
